@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	/* 
  color-scheme: light dark; */
}

@theme {
	--color-oasis-indigo: #2F1F49;
	--color-oasis-yellow: #FCF9B2;
	--color-oasis-pink: #FA99F5;
	--color-oasis-lilac: #FBD6FB;
	--color-oasis-white: #ECE8F0;
	--color-info-pink: rgba(255, 243, 235, 1);
	--color-info-yellow: rgba(255, 253, 234, 1);
	--color-info-blue: rgba(235, 241, 255, 1);
	--color-info-green: rgba(224, 250, 236, 1);
	--color-info-red: rgba(255, 235, 236, 1);
	--color-misc-pink: rgba(251, 214, 251, 0.5);
	--color-misc-white: rgba(250, 249, 251, 1);
}

.btn {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), #2F1F49;
	box-shadow: 0px 1px 2px rgba(14, 18, 27, 0.24), 0px 0px 0px 1px;
	border-radius: 10px;
}

.btn:disabled {
	background: rgb(207, 200, 200);
}

.input {
	outline: none;
	position: relative;
}

label {
	position: absolute;
	margin-bottom: 60px;
	font-weight: 600;
}

.range::-webkit-slider-thumb {
	display: none;
	appearance: none;
	-webkit-appearance: none;
}

.range {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 4px;
	border-radius: 9999px;
	background: transparent;
}

.range:focus {
	outline: none;
}

.range::-webkit-slider-runnable-track {
	height: 4px;
	border-radius: 9999px;
}

#weak::-webkit-slider-runnable-track {
	background-color: rgba(251, 55, 72, 1);
}

#medium::-webkit-slider-runnable-track {
	background-color: rgba(250, 115, 25, 1);
}

#strong::-webkit-slider-runnable-track {
	background-color: rgba(31, 193, 107, 1);
}

.scrollbar-hide::-webkit-scrollbar{
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	/* Also needed for consistency */
}

.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	bottom: 0;
	width: 5px;
	height: 25px;
	background-color: var(--color-oasis-pink);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.active {
	background: rgba(91, 65, 133, 1);
	.icon {
		fill: var(--color-oasis-pink);
	}
}

.medfilterbtn{
	background-color: white;
	color: black;
	font-weight: 500;
	padding: 5px;
	border-radius: 5px;
}
